In [1]:
import pandas as pd
import numpy as np

<b> Q1. Pandas version <br>
Ans: 2.3.1 </b>

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

<b>Q2. Records count <br>
How many records are in the dataset? <br>
Ans is 9704 <br>
Used  Shape command</b>

In [5]:
df.shape[0]

9704

<b> Q3. Fuel types <br>
How many fuel types are presented in the dataset? <br>
Ans is 2 <br>
Used nunique command </b>

In [9]:
df['fuel_type'].nunique()

2

<b> Q4. Missing values <br>
How many columns in the dataset have missing values? <br>
Ans is 4 </b>

In [6]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

<b>Q5. Max fuel efficiency <br>
What's the maximum fuel efficiency of cars from Asia?<br>
Ans is 23.75 <br>
First created separate dataframe for Asia and used max command to see the max value of fuel_efficieny_mpg column </b>

In [12]:
df_asia = df[(df['origin'] == 'Asia')]
df_asia['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

<b> Q6. Median value of horsepower </b>


<b> Find the median value of horsepower column in the dataset.</b>

In [16]:
df['horsepower'].median()

np.float64(149.0)

<b> Next, calculate the most frequent value of the same horsepower column.<br>
It is 152 </b>

In [13]:
most_frequent = df['horsepower'].mode()
print(most_frequent)

0    152.0
Name: horsepower, dtype: float64

<b> Filled missing values with 152. Then found the median . New Median is 152 which has increased </b>

In [14]:
df['horsepower'] = df['horsepower'].fillna(152)
df['horsepower'].median()

np.float64(152.0)

<b>Q7. Sum of weights<br>
   Ans:0.51
</b>

<b> Select all the cars from Asia <br>
Select only columns vehicle_weight and model_year <br>
Select the first 7 values <br>
Get the underlying NumPy array. Let's call it X.<br>
</b>

In [17]:
X = df[(df['origin'] == 'Asia')][['vehicle_weight', 'model_year']].head(7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

<b> To get the transpose, use X.T</b>

In [20]:
XT = X.T

<b> Compute matrix-matrix multiplication between the transpose of X and X. Let's call the result XTX </b>

In [21]:
XTX = np.dot(XT, X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

<b>Invert XTX.</b>

In [88]:
XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

<b>Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].</b>

In [89]:
y= np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

<b> Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.</b>

In [90]:
XTX_final = np.dot(XTX_inverse, XT)
XTX_final

array([[-1.31202622e-04, -8.63909858e-05,  3.72634923e-04,
        -4.02726650e-04, -1.62513724e-04, -5.52342829e-05,
         4.65094049e-04],
       [ 2.62636846e-04,  1.96990690e-04, -4.73392228e-04,
         6.58944477e-04,  3.08357831e-04,  1.51636137e-04,
        -6.07979633e-04]])

In [91]:
w = np.dot(XTX_final, y)
w

array([0.01386421, 0.5049067 ])

<b>What's the sum of all the elements of the result?</b>

In [92]:
w.sum()

np.float64(0.5187709081074016)